#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-image: url("img/back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.border {
  border-bottom: 1px solid #f7f8f7;
  padding-top: 28px;
  margin: 0 auto;
  width: 50%;
}
